@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon/fonts/icomoon.eot?ua9oxk');
  src:  url('/assets/fonts/icomoon/fonts/icomoon.eot?ua9oxk#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon/fonts/icomoon.ttf?ua9oxk') format('truetype'),
    url('/assets/fonts/icomoon/fonts/icomoon.woff?ua9oxk') format('woff'),
    url('/assets/fonts/icomoon/fonts/icomoon.svg?ua9oxk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Search-fancy:before {
  content: "\e900";
}
.icon-Register:before {
  content: "\e901";
}
.icon-Spider-grid:before {
  content: "\e902";
}
.icon-Globe:before {
  content: "\e903";
}
.icon-facebook1:before {
  content: "\ea91";
}
.icon-instagram1:before {
  content: "\ea94";
}
.icon-whatsapp1:before {
  content: "\ea95";
}
.icon-skype1:before {
  content: "\eac6";
}
.icon-linkedin21:before {
  content: "\eacb";
}
