$gray :  #ECECEB;
$dark :  #242424;


.h1{
    font-size: 5rem;
    @media screen and(max-width:500px) {
        font-size: 3.5rem;
    }
    @media screen and(max-width:350px) {
        font-size: 2rem;
    }
}
h2{
    font-size: 3.5rem;
}   
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: .5rem;
}

.bg-darky{
    background-color: $dark;
}
.bg-newGray{
    background-color: $gray;
}
.p-4a{
    padding: 40px;
}
img{
    width: 100%;
}
.logo{
    &.header{
        width: 60px;
        &>img{
            width: 100%;
        }
    }
    &.footer{
        width: 40px;
        &>img{
            width: 100%;
        }
    }
}
.oval-box{
    border-radius: 25px;
    padding: 10px 20px;
}
.oval-box-2{
    border-radius: 10px;
    padding: 10px ;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}
.input{
   background-color: transparent;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-bottom: 2px solid whitesmoke;
   color: white;
   &:focus{
       border: 0px;
       border-bottom: 2px solid white;
       border-radius: 12px;
       height: 35px;
       outline: none;
       background-color: $gray;
       color: black;
       font-weight: bold;
       padding-left: 10px;
       @media screen and(min-width:992px) {
            align-self: flex-end;
       }
   }
}
.item-hover{
    transform: scale(1.05);
    
}
button{
    font-size: 1.4rem;
}
.gradient-background{
    background: linear-gradient(90deg, rgba(236,236,235,1) 35%, rgba(195,195,192,1) 100%);
    height: 90vh;
    max-height: 1000px;

}

.rotate{
    transform: rotateZ(-90deg) translateX(-30%);
}
.container-fluid{
    overflow: hidden;
}

main{
    .background-img{
        position: relative;
        align-items: center;
        &::before{
            content: '';
            position: absolute;
            width: 420px;
            height: 420px;
            margin: 30px auto 0;
            background-color: $gray;
            border-radius: 50%;
            box-shadow: inset -30px -20px 80px darken($gray,20%);
            top: 200px;
            left: 450px;
            @media screen and(max-width:678px) {
                box-shadow: inset -30px -20px 80px darken($gray,40%);
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 350px;
            height: 350px;
            margin: 30px auto 0;
            background-color: $gray;
            border-radius: 50%;
            box-shadow: inset 0px -40px 80px darken($gray,30%);
            top: 50px;
            left: 850px;
        }
    }
    .background-img-sat{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 150px;
            height: 150px;
            margin: 30px auto 0;
            background-color: $gray;
            border-radius: 50%;
            box-shadow: inset 0px -40px 80px darken($gray,30%);
            top: 50px;
            left: 1110px;
            z-index: 1;
        }
        &::after{
            content: '';
            position: absolute;
            width: 150px;
            height: 150px;
            margin: 30px auto 0;
            border-radius: 50%;
            background-color: $gray;
            box-shadow: inset -10px 10px 15px darken($gray,10%);
            top:60px;
            left: 340px;
            z-index: 0;
            @media screen and(max-width:678px) {
                box-shadow: inset -10px 10px 30px darken($gray,30%);      
            }
        }
    }
}

section{
    position: relative;
}
iframe{
    width: 100%;
    height: 100%;
    @media screen and(max-width:992px) {
        height: 400px;
    }
    @media screen and(max-width:768px) {
        height: 300px;
    }
    @media screen and(max-width:500px) {
        height: 200px;
    }
    @media screen and(max-width:300px) {
        height: 170px;
    }
}
.luna-img{
    &::before{
        content: '';
        background-image: url('../assets/img/moon.png');
        width: 30vw;
        height: 30vw;
        max-width: 500px;
        max-height: 500px;
        min-width: 200px;
        min-height: 200px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        position: relative;
        top: 50px;
        left: -5px;
        @media screen and(max-width:992px) {
            left: 10px 
        }
        @media screen and(max-width:680px) {
            left: 35px;
            top:40px; 
        }
    }
}
.searchBar{
    // position: relative;
    &::before{
        position: relative;
        content: '\e900';
        font-family: icomoon;

    }
}
.globe{
    // position: relative;
    &::before{
        position: relative;
        content: '\e903';
        font-family: icomoon;

    }
}
.gridNet{
    // position: relative;
    &::before{
        position: relative;
        content: '\e902';
        font-family: icomoon;

    }
}
.registerIcon{
    // position: relative;
    &::before{
        position: relative;
        content: '\e901';
        font-family: icomoon;

    }
}
.gallery-container{
    position: relative;
    .gallery-projects{
        width: 33.33vw;
        height: 33.33vw;
        // max-height: 600px;
        // max-width: 600px;
        overflow: hidden;
        transition: all .2s ease-in-out;
        &>a{
            visibility: hidden; 
            opacity: 0;
            transition:visibility 0.3s linear,opacity 0.2s linear;
        }
        &:hover{
            transform: scale(1.05);
            // z-index: 999;
            &>a{
                visibility: visible;
                opacity:1;
            }
        }
        &>img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        @media screen and(max-width:767px) {
            height: 100vw;
            width: 100vw;
        }
        
    }
    
}
.gradient-container{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to bottom, transparent 40%, black 110%);
    }
}
.btn-selected{
    background-color: #f8f9fa;
    color: black;
}
.z-index-99{
    z-index: 99;
}