@font-face {
    font-family: galano;
    src: url('../assets/fonts/Galano/GalanoGrotesqueMedium.otf');
    }
@font-face {
    font-family: sofiaPro;
    src: url('../assets/fonts/Sofia/Sofia-Pro-Regular-Az.otf');
    }
@font-face {
    font-family: helveticaAnaphase;
    src: url('../assets/fonts/Helvetica/HELVETICANEUELTCOM-MDEX.TTF');
    }
@font-face {
    font-family: codecProBold;
    src: url('../assets/fonts/Codec-Pro/CodecPro-Bold.ttf');
}
@font-face {
    font-family: codecProNews;
    src: url('../assets/fonts/Codec-Pro/CodecPro-News.ttf');
}

